# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg
*.egg-info/
dist/

build/
*.so
.env
.pytest_cache/

# Data
data/raw/*.csv # You might want to keep the raw data in Git if it's small, otherwise ignore it
data/processed/filtered_complaints.csv # If this file gets very large, consider ignoring and generating from raw
vector_store/ # Definitely ignore this as it can be large and rebuilt
*.db # For ChromaDB or any other local database files

# Jupyter
.ipynb_checkpoints/